.Usuario{
  margin-top:-285px;
  margin-left:110px; 
  color:gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Correo{
  margin-top:45px;
  margin-left:110px; 
  color:gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Contraseña{
  margin-top:44px;
  margin-left:110px; 
  color:gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titulo{
  margin-left: 130px;
  margin-top: 250px;
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  .logo{
    margin-left: 90px;
    margin-top: -260px;
    }
    .campo{
      margin-top: 132px;
      margin-left:100px;
      
      }
      .campo2{
        margin-left: 100px;
        margin-top: 30px;
        }
        .campo3{
          margin-left: 100px;
          margin-top: 30px;
          }
          .boton{
            margin-left: 120px;
            margin-top: 30px;
            } 
        
            .img1{
              margin-top:25px;
              margin-left: 50px;
            }
            .img2{
              margin-top:30px;
              margin-left: 50px;
            }
            .img3{
              margin-top:30px;
              margin-left: 50px;
            }
  
            .boton2{
            margin-top:10px;
            margin-left:10px;
            }
            